@charset "utf-8";
/* CSS Document */

body/*背景*/{
	background-image:url("../image/time3.jpg");
	background-size:100%  auto;
	overflow:hidden;
	}

.fgxd/*登陆分割线*/{
	position: relative;
	opacity:0.2;
	top:68px;
	left:-2px;
	width:482px;
	background-color:#C2C2C2;
	height:4px;
}

#login/*图片整体框*/{
    position: absolute;
    width: 480px;
    height:440px;
    top: 100px;
    left: 40px;
    margin: 15px;
    content: 15px;
    padding: 2px;
    background: rgba(160,160,160,0.2);
	}
#Username{
	position: absolute;
    width: 340px;
    height:40px;
    top: 260px;
    left: 55px;
    margin: 15px;
    content: 15px;
    padding: 2px;
    background: rgba(255,255,255,0.5);
	}
#password{
	position: absolute;
    width: 340px;
    height:40px;
    top: 320px;
    left: 55px;
    margin: 15px;
    content: 15px;
    padding: 2px;
    background: rgba(255,255,255,0.5);
	}
#yx {
	margin:10px auto;
	position: absolute;
    top: 100px;
    left: 170px;
	opacity:0.8;
	} 
#yx img {
	border-radius:50%;
	} 
yuanxing {
	border-radius:5px;
	} 

.writed /*文本大字体*/{
	font-weight: 700;/*正常*/
	position: absolute;
	left:50px;
	font-size: 31px;
	top:-10px;
	color:#FFFFFF;
	font-family:微软雅黑;
	}

.yuanxing img{
	border-radius:5px;
} 

.input-xlarge {
	width:100%;
	height:100%;
	line-height:30px;
	padding:0 8px;
	border:1 px solid #CCCCCC;
}
.nav ul {
	Width:100%;    
	height:55px;      
	margin:0px auto;
	padding:0;
	list-style:none; 
	border-top:solid 5px rgba(39, 21, 21, 0.4);  
	border-bottom:solid 5px  rgba(39, 21, 21, 0.4);

}
.nav ul li {
	width:14.2%;
	float:left;
	text-align:center;
	font:16px/2.5 "microsoft yahei";
}
.nav ul li a {
	font-size: 22px;
	color: white;
	text-decoration:none;
}
.nav ul li a:hover {
	display:block; 
	color:#FFFFFF; 
	background:#d5c59f;
}

.btn {
	margin:10px 10px 10px 80px;
	width:80px;
	height:30px;
	border-radius:18px;
	border:1 px solid #CCCCCC;
	background-color:#FFC;
}
.btn:hover, .btn:focus {
	background-color:#F90;
	color:#FFFFFF;
	border:1 px solid #CCC;
}
